# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
linux/
macos/
windows/
web/

# IDEs
.vscode/
.idea/
*.iml

# Otros
*.log
*.dll
*.stamp
*.lock
