# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/
# iOS / CocoaPods autogenerado
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/

# Desktop: ignorar SOLO lo generado, no todo el target
linux/flutter/
macos/Flutter/
windows/flutter/

# IDEs
.vscode/
.idea/
*.iml

# Otros temporales
*.log
*.lock
*.stamp
*.dll
